.has-text-white.has-background-link
  <svg class="curva curva-footer" xmlns="http://www.w3.org/2000/svg" viewBox="-484 -53.4 1000 91.7"><path fill="currentColor" d="M-261.3-40.9c114.8 0 159.8 62.4 253.5 76 25.4 3.7 52.2 2.9 88.2-10.7s80.4-30.6 126.5-31c45.8-.5 92.9 15.3 131.4 15 38.6-.2 68.4-16.7 92.9-31.5 24.5-14.6 43.3-27.3 56.4-29.9 13.2-2.6 20.9 5.2 24.7 9.2s3.8 4 3.8 29.9V38l-1000 .2C-484 2-423.5-40.9-261.3-40.9z"/></svg>
footer.footer.has-background-white
  .container
    .level
      .level-item
        span
          i.fa.fa-fw.fa-copyright
          |  
          a(href='https://escuchatecoaching.com/') escuchatecoaching.com
      .level-item
        span
          i.fa.fa-fw.fa-paint-brush
          |  diseño web 
          a(href=(index && 'https://seacomoseo.com/diseno-paginas-web') target=(index && '_blank') onclick=(index||"window.open('https://seacomoseo.com/diseno-paginas-web','_blank')") ) seacomoseo.com
  .callnow
    .callnow-caption
      .tag.is-info.is-light.is-rounded ¡Pulsa y envia un WhatsApp!
    a.button.is-primary.is-medium(href=`https://api.whatsapp.com/send?phone=${'+549 298 4330078'.replace(/[\+\s]/g, '')}` target='_blank' onclick=`gtag('event', 'clic', {'event_category': 'whatsapp', 'event_label': location.href});`)
      //- i.fab.fa-whatsapp
      <svg class="icon-inline" width="1em" height="1em" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150 0A150 150 0 0022 228L0 292c0 2 0 5 2 6a6 6 0 006 2l64-22A150 150 0 10150 0zm96 211c0 5-2 10-6 14l-16 15c-3 4-8 6-13 6h-1c-84-4-152-72-156-156 0-5 2-11 6-15l15-15c4-4 9-6 14-6h6c8 0 16 5 19 13l14 36c2 7 1 15-5 21l-5 6c-3 2-3 6-1 10 7 10 22 29 44 43 3 2 7 2 9-1l6-5c6-6 14-7 21-5l36 14c8 3 13 10 13 19v6z"></path></svg>
      //- |  +549 298 4330078