header#escuchate.hero.is-fullheight.has-background-link.bg-blend
  .hero-body
    .container.pt-6(data-showup)
      img(src='img/logo.svg' alt='logo escuchate coaching ontologico' title='Escuchate Coaching Ontológico' width='500' height='156')
      p.subtitle.is-3 Lo que das, ¡te lo das!
      .title.tags.is-justify-content-center.are-medium
        .tag.is-info.is-light # Sesiones y Talleres
        .tag.is-primary.is-light # Presenciales y Online
      h1.is-sr-only Sesiones y Talleres de Coaching Ontológico Presenciales y Online
      a.button.is-primary(href='#main') ✚ Más