section#contacto.section.has-background-link
  .container.box.section(data-showup)
    h2.title.is-1 Contacto
    p.subtitle.is-3.has-text-link ¡Anímate al cambio!
    address
      p
        i.fa.fa-fw.fa-calendar.has-text-primary
        |  Lunes a Viernes
        br
        i.fa.fa-fw.fa-clock.has-text-primary
        |  9:00 a 12.30 y 14:30 a 20:00
        br
        i.fa.fa-fw.fa-map-marker-alt.has-text-primary
        |  San Carlos de Bariloche, Río Negro
      .columns.is-multiline.is-justify-content-center
        .column.is-narrow
          a.button.is-link.is-medium(href=`tel:${'+549 298 4330078'.replace(/\s/g, '')}` onclick=`gtag('event', 'clic', {'event_category': 'phone', 'event_label': location.href});`)
            i.fa.fa-fw.fa-phone
            |  +549 298 4330078
        .column.is-narrow
          a.button.is-primary.is-medium(href=`https://api.whatsapp.com/send?phone=${'+549 298 4330078'.replace(/[\+\s]/g, '')}` target='_blank' onclick=`gtag('event', 'clic', {'event_category': 'whatsapp', 'event_label': location.href});`)
            //- i.fab.fa-whatsapp
            <svg class="icon-inline mr-1" width="1em" height="1em" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150 0A150 150 0 0022 228L0 292c0 2 0 5 2 6a6 6 0 006 2l64-22A150 150 0 10150 0zm96 211c0 5-2 10-6 14l-16 15c-3 4-8 6-13 6h-1c-84-4-152-72-156-156 0-5 2-11 6-15l15-15c4-4 9-6 14-6h6c8 0 16 5 19 13l14 36c2 7 1 15-5 21l-5 6c-3 2-3 6-1 10 7 10 22 29 44 43 3 2 7 2 9-1l6-5c6-6 14-7 21-5l36 14c8 3 13 10 13 19v6z"></path></svg>
            |  +549 298 4330078
        .column.is-12
          a.button.is-info(href=`mailto:&#x66;&#x6C;&#x6F;&#x72;&#x65;&#x6E;&#x63;&#x69;&#x61;&#x64;&#x65;&#x73;&#x69;&#x6C;&#x6C;&#x65;&#x73;&#x40;&#x68;&#x6F;&#x74;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;` onclick=`gtag('event', 'clic', {'event_category': 'mail', 'event_label': location.href});`)
            i.fa.fa-fw.fa-envelope.mr-1
            //- florenciadesilles@hotmail.com
            |  &#x66;&#x6C;&#x6F;&#x72;&#x65;&#x6E;&#x63;&#x69;&#x61;&#x64;&#x65;&#x73;&#x69;&#x6C;&#x6C;&#x65;&#x73;&#x40;&#x68;&#x6F;&#x74;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;
    h3.subtitle.is-2.mt-5.mb-3
      | Sígueme 
      i.fa.fa-fw.fa-heart.has-text-info
    p
      a.mx-1(href='https://www.instagram.com/escuchate_coaching/' target='_blank')
        <svg width='5em' height='5em' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/></svg>
      a.mx-1(href='https://www.facebook.com/escuchatecoaching' target='_blank')
        <svg width='5em' height='5em' xmlns='http://www.w3.org/2000/svg' viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg>
    //- iframe(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192338.3454804078!2d-71.47999844247731!3d-41.12826800695843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7b1520c860e5%3A0x8210ae97cb7b9a65!2sSan%20Carlos%20de%20Bariloche%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses!2sar!4v1602799226098!5m2!1ses!2sar' width='100%' height='300' scrolling='no' frameborder='0')
