.has-text-link.has-background-white
  <svg class="curva curva-que" xmlns="http://www.w3.org/2000/svg" viewBox="-484 -53.4 1000 91.7"><path fill="currentColor" d="M-261.3-40.9c114.8 0 159.8 62.4 253.5 76 25.4 3.7 52.2 2.9 88.2-10.7s80.4-30.6 126.5-31c45.8-.5 92.9 15.3 131.4 15 38.6-.2 68.4-16.7 92.9-31.5 24.5-14.6 43.3-27.3 56.4-29.9 13.2-2.6 20.9 5.2 24.7 9.2s3.8 4 3.8 29.9V38l-1000 .2C-484 2-423.5-40.9-261.3-40.9z"/></svg>
section#que.section.has-background-link
  .container(data-showup)
    h2.title.is-1.has-text-light ¿Qué es coaching?
    p.subtitle.is-3.has-text-info Logros de resultados extraordinarios
    .columns.is-vcentered
      .column
        img(data-src='/img/resultados-extraordinarios.svg' alt='resultados extraordinarios' )
      .column.has-text-justified.has-text-white
        p Es un mecanismo para que las personas logren resultados extraordinarios para su beneficio y el de la comunidad.
        p En un proceso de Coaching se utiliza una metodología que te apoyará a lograr resultados específicos en las distintas áreas de tu vida. Este tipo de conversación y escucha expande tu habilidad para realizar importantes cambios, avanzar en nuevas áreas y ser y tener más de lo que eres y quieres en tu vida. Los servicios de coaching no son sustitutivos de terapias, consejos legales o diagnóstico médico.
    .buttons.is-justify-content-center.is-multiline
      .button.is-info(role='button' aria-label='modal' data-target='beneficios') ✚ Beneficios
      .button.is-info(role='button' aria-label='modal' data-target='relacion') ✚ Relación
      .button.is-info(role='button' aria-label='modal' data-target='expectativas') ✚ Expectativas
    .modal#beneficios
      .modal-background
      .modal-content
        .box
          h3.title.is-2 Beneficios
          p.subtitle.is-4.is-size-3-tablet ¡Tantas cosas buenas!
          ul.has-text-left
            li Poder conversar con alguien que te escuche sin juzgar.
            li Poder expresar libremente, tanto emociones como pensamientos.
            li Poder observar la misma situación desde distinta perspectiva, lo cual nos lleva a cuestionarnos a nosotros mismos, a nuestras creencias y aspectos diversos de nuestras vidas.
            li Autoconocimiento.
            li Constituye un espacio de reflexión en el que estamos acompañados por quién entrenó, la escucha activa, como para poder hacer las indagaciones adecuadas o necesarias para nuestra reflexión.
            li Ayuda a definir objetivos SMART (deberán ser: alcanzables, medibles, razonables, realizables en un tiempo adecuado u óptimo, y especificos) de manera realista, establecer prioridades y definir la manera de alcanzar metas.
            li Poder comenzar a concretar acciones que no podemos dado a distintos tipos de bloqueos (PNL).
            li Organización y Gestión del tiempo.
            li Motivación externa y fomenta a la interna.
            li Empoderamiento y liderazgo.
            li Flexibilidad y adaptación: hacernos responsables de nuestras decisiones y así mejorar nuestra adaptación al entorno.
            li El coach fomenta el descubrimiento de alternativas nuevas, y mediante la conexión al lado emocional que genera el Coachee, permite que éste desbloquee la mente para generar nuevas ideas que lleven al cambio (mayor creatividad).
            li Poder trabajar nuestros vínculos y relaciones para que a través de la comunicación asertiva logremos armonía y bienestar en las mismas.
            li Poder realizar cambios (siempre que estemos comprometidos, dispuestos ¡y lo deseemos) en distintos ámbitos de nuestra vida (familiar, amistad, laboral, emocional, étc.).
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.is-large.m-2(aria-label='close')
    .modal#relacion
      .modal-background
      .modal-content
        .box
          h3.title.is-2 Relación
          p.subtitle.is-4.is-size-3-tablet Naturaleza de la relación de coaching
          p.has-text-justified Comienzas coaching sabiendo que tienes el privilegio de crear tus propias decisiones y resultados. Que eres responsable de eso que creas y que en todo momento puedes elegir. Tú estás de acuerdo en no hacerme responsable de cualquier resultado que se derive directa o indirectamente del proceso de coaching.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.is-large.m-2(aria-label='close')
    .modal#expectativas
      .modal-background
      .modal-content
        .box
          h3.title.is-2 Expectativas
          p.subtitle.is-4.is-size-3-tablet Como coach, puedes esperar de mí
          ul.has-text-left
            li Una relación de coaching abierta, honesta y comprometida.
            li Un socio que te ayude a sacar lo mejor, lo más profundo, lo verdadero y auténtico de ti.
            li Que te proporcione seguridad, soporte, apoyo y un entorno en el que te permitas reflexionar, explorar y crear.
            li Que respete nuestro acuerdo de confidencialidad.
            li Que expanda tu visión de lo que es posible y que te ayude a descubrir nuevos puntos de vista
            li Que te dé información y feedback honesto.
            li Que te escuche con un alto compromiso y que haga preguntas que nunca antes te han hecho o te has hecho.
            li Apoyarte a que generes nuevas distinciones.
            li Que sea parte de tu entorno favorable para alcanzar tus metas.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.is-large.m-2(aria-label='close')