section#servicios.section
  .container(data-showup)
    h2.title.is-1 Servicios
    h3.subtitle.is-3.has-text-link Sesiones y Talleres de Coaching
    p Te acompaño en el proceso de aprendizaje a lograr tus objetivos
    .columns
      .column.has-text-left
        .columns.is-vcentered.is-mobile
          .column.is-narrow
            i.fa.fa-heart.fa-3x.fa-fw.has-text-primary
          h4.column.m-0
            | Inteligencia
            br
            | Emocional
        .columns.is-vcentered.is-mobile
          .column.is-narrow
            i.fa.fa-comments.fa-3x.fa-fw.has-text-primary
          h4.column.m-0
            | Habilidades de
            br
            | Comunicación
        .columns.is-vcentered.is-mobile
          .column.is-narrow
            i.fa.fa-brain.fa-3x.fa-fw.has-text-primary
          h4.column.m-0
            | Programación
            br
            | NeuroLingüística
            br
            span.has-text-primary (PNL)
      .column
        img(src='/img/undraw_in_progress_ql66.svg')
      .column.has-text-left.has-text-right-tablet
        .columns.is-vcentered.is-mobile.reverse-rows-mobile-only
          h4.column.m-0
            | Sesiones
            br
            | Presenciales y Online
          .column.is-narrow
            i.fa.fa-map-marker-alt.fa-3x.fa-fw.has-text-primary
        .columns.is-vcentered.is-mobile.reverse-rows-mobile-only
          h4.column.m-0
            | Avalada por
            br
            | AACOP y FICOP
            br
            span.has-text-primary (Matrícula nº 4263)
          .column.is-narrow
            i.fa.fa-certificate.fa-3x.fa-fw.has-text-primary
        .columns.is-vcentered.is-mobile.reverse-rows-mobile-only
          h4.column.m-0
            | Pre-consulta
            br
            | Gratuita
          .column.is-narrow
            i.fa.fa-gift.fa-3x.fa-fw.has-text-primary