section#sobre.section.has-background-link
  .container.box.section.has-background-info(data-showup)
    h2.title.is-1 Sobre mí
    p.subtitle.is-4.is-size-3-tablet.has-text-link Florencia Desilles
    .columns.is-vcentered.reverse-rows-mobile-only
      #flor.column.is-3
        figure.image
          img.is-rounded(data-src='/img/florencia-desilles.png' alt='florencia desilles' width='256' height='308')
      .column.is-offset-1.has-text-justified
        p Desde mí adolescencia puedo destacar mí habilidad para la escucha activa, la comprensión del otro y mí disposición a dar consejos. Cierto es que un día entendí que esos consejos venían de mí y no, de lo que el otro realmente experimentaba. 
        p Estudié la disciplina del Coaching Ontológico y allí encontré varias respuestas a preguntas que me hacía desde hace tiempo. Fue por ello que luego de una gran transformación personal, opté por contribuir desde mí lugar y aprendizaje a que los demás también se inicien en ésta transformación.
      #flor-espacio.column.is-1
    .buttons.is-justify-content-center.is-multiline
      .button.is-link(role='button' aria-label='modal' data-target='intereses') ✚ Intereses
      .button.is-link(role='button' aria-label='modal' data-target='vocacion') ✚ Vocación
      .button.is-link(role='button' aria-label='modal' data-target='contexto') ✚ Contexto y técnicas
      //- .button.is-link(role='button' aria-label='modal' data-target='vision') ✚ Visión
      .button.is-link(role='button' aria-label='modal' data-target='extra') ✚ Extra
    .modal#intereses
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Intereses
          img.mb-5(data-src='/img/intereses.svg' alt='intereses' width='1023' height='813')
          p.has-text-justified Me apasiona la Psicología y los libros de autoconocimiento, crecimiento personal y espiritual. Autores como E. Tolle, L. Hay, C. Pinkoka Estés, Enric Corbera, E. Bachrachh, B.Weiss, J. Dispenza, C. Jung, entre otros, fueron de gran inspiración para mí.
          p.has-text-justified Me titulé de Acompañante terapéutico y Coach Ontológico con nociones de PNL e Inteligencia Emocional.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#vocacion
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Vocación
          img.mb-5(data-src='/img/vocacion.svg' alt='vocacion' width='1100' height='732')
          p.has-text-justified Mi vocación está en relación al otro, en el ayudar desde el lugar que creé.
          p.has-text-justified Mi misión personal es poder contribuir desde mis conocimientos y experiencias a quienes están atravesando situaciones que les genera malestar y otro tipo de emociones, cooperando a la gestión de las mismas y a su vez motivar y construir distintos objetivos de vida junto al Coachee, desde su compromiso y el mio en conjunto.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#contexto
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Contexto y técnicas
          img.mb-5(data-src='/img/tecnicas.svg' alt='tecnicas' width='863' height='770')
          p.has-text-justified Si bien soy Coach Ontológico, sistémico y constructivista, implemento técnicas de PNL e Inteligencia Emocional y me avoco a un estilo que se llama "Life Coaching" o Coach de Vida, relacionado a su vez con una pequeña parte holística.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    //- .modal#vision
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Visión
          img.mb-5(data-src='/img/vision.svg' alt='vision' width='' height='')
          p.has-text-justified Mi visión está dotada de varias fuentes, por un lado me considero una persona muy espiritual, e intuitiva.
          p.has-text-justified También he hecho disciplinas como yoga y entrenamientos a fines. A su vez soy apasionada de la lectura de libros de índole espiritual, filosofía, conocimientos varios, biología, Psicología, étc.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#extra
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Extra
          img.mb-5(data-src='/img/extras.svg' alt='extras' width='880' height='573')
          p.has-text-justified También soy música, en mis tiempos libres canto y toco la guitarra, es una forma de meditación activa a mi juicio.
          p.has-text-justified Y soy Corredora de Carreras de Trail-running. Disciplina que ha contribuido a mi constancia, y efectividad en el logro de objetivos diversos y a su vez ayudó a desarrollar mi tolerancia y paciencia en el logro de resultados, y ante situaciones adversas.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    h3#caracteriza.subtitle.is-2 Me caracteriza
    .columns.is-multiline
      .column.is-4
        i.fa.fa-grin-stars.fa-3x.has-text-white.my-3
        h4.title.is-4 ¡Motivación!
        hr
        p Confío en el poder y potencial que tienen las personas, y su autogestión. Desde este lugar, es que puedo acompañarte y motivar a tu transformación personal.
      .column.is-4
        i.fa.fa-hands-helping.fa-3x.has-text-white.my-3
        h4.title.is-4 Confianza y Confidencialidad
        hr
        p Te garantizo un espacio confidencial y de confianza, para que haya la apertura necesaria para lograr un proceso transformacional.
      .column.is-4
        i.fa.fa-hand-holding-heart.fa-3x.has-text-white.my-3
        h4.title.is-4 Seguimiento y Contención
        hr
        p Si bien el proceso de aprendizaje se da en sesiones de Coaching, estoy a tu disposición si surgieran nuevos quiebres en relación a la meta o mismo, nuevas metas para trabajar.
      .column.is-4
        i.fa.fa-star.fa-3x.has-text-white.my-3
        h4.title.is-4 Transparencia
        hr
        p Me comprometo a serte sincera y declararme incompetente si surgiera un quiebre que no podamos trabajar o si considerase necesario otro tipo de profesional para ello.
      .column.is-4
        i.fa.fa-comment-medical.fa-3x.has-text-white.my-3
        h4.title.is-4 Escucha activa y empatía
        hr
        p Mí compromiso está en escucharte activamente en un espacio de comprensión,  con el objetivo que te escuches a ti mismo en el proceso y así vayas descubriendo nuevas formas de observar, accionar, de estar y de ser en el mundo.
      .column.is-4
        i.fa.fa-chart-line.fa-3x.has-text-white.my-3
        h4.title.is-4 Organización
        hr
        p Para alcanzar el objetivo pondremos fecha, lugar, tiempo determinado, será así medible, específico, alcanzable y cumplirá los requisitos para ser SMART.
      .column.is-4.is-offset-4
        i.fa.fa-people-arrows.fa-3x.has-text-white.my-3
        h4.title.is-4 Compromiso
        hr
        p ¡Me comprometo a acompañarte en tu transformación!