section#sobre.section.has-background-link
  .container.box.section.has-background-info(data-showup)
    h2.title.is-1 Sobre mí
    p.subtitle.is-4.is-size-3-tablet.has-text-link Florencia Desilles
    .columns.is-vcentered.reverse-rows-mobile-only
      .column.is-offset-2.has-text-justified
        p Mi interés por el otro parte de muy chica, ya en la adolescencia al tener habilidad para la escucha activa, comprensión avanzada para mi edad y el hecho de ir aprendiendo a no juzgar. Dandole consejos a mis amigas y a mi mamá en su momento, para luego entender que los consejos venian de mi y no de lo que el otro realmente experimentaba. Más adelante conozco la disciplina del Coaching.
      .column.is-3
        figure.image
          img.is-rounded(src='/img/IMG_20190318_200215_637 (3).jpg')
      .column.is-2
    .buttons.is-justify-content-center.is-multiline
      .button.is-link(role='button' aria-label='modal' data-target='intereses') ✚ Intereses
      .button.is-link(role='button' aria-label='modal' data-target='vocacion') ✚ Vocación
      .button.is-link(role='button' aria-label='modal' data-target='contexto') ✚ Contexto y técnicas
      .button.is-link(role='button' aria-label='modal' data-target='vision') ✚ Visión
      .button.is-link(role='button' aria-label='modal' data-target='extra') ✚ Extra
    .modal#intereses
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Intereses
          p Me interesó mucho la Psicología, y los libros de autoconocimiento, crecimiento personal y espiritual, autores como E.Tolle, L.Hay, Clarissa Pinkola Estés, Enric Corbera, E.Bachrachh, B.Weiss, J.Dispenza, C.Jung fueron de gran inspiración para mi. Estudié unos años en Buenos Aires la carrera de Psicología y aunque no finalicé aún, continué con estudios afines. Me titulé de Acompañante terapéutico y lo ejercí hasta hace poco tiempo.
          p Luego conocí el Coaching Ontológico, y mi tesis final justamente se basó en relación a ambas disciplinas.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#vocacion
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Vocación
          p Mi vocación siempre supe que estaba en relacion al otro, al poder ayudar desde algún lugar.
          p Mi misión personal es poder contribuir desde mis conocimientos y experiencias a quienes están atravesando situaciones que les genera malestar y otro tipo de emociones, cooperando a la gestión de las mismas y a su vez motivar y construir distintos objetivos de vida junto al Coachee, desde su compromiso y el mio en conjunto.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#contexto
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Contexto y técnicas
          p Si bien soy Coach Ontológico, sistémico y constructivista, implemento técnicas de PNL e Inteligencia Emocional y me avoco a un estilo que se llama " Life Coaching" o Coach de Vida, relacionado a su vez con una pequeña parte holística.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#vision
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Visión
          p Mi visión está dotada de varias fuentes, por un lado me considero una persona muy espiritual, e intuitiva.
          p También he hecho disciplinas como yoga y entrenamientos a fines. A su vez soy apasionada de la lectura de libros de índole espiritual, filosofía, conocimientos varios, biología, Psicología, étc.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    .modal#extra
      .modal-background
      .modal-content
        .box
          h3.subtitle.is-2 Extra
          p También soy música, en mis tiempos libres canto y toco la guitarra, es una forma de meditación activa a mi juicio.
          p Y soy Corredora de Carreras de Trail-running. Disciplina que ha contribuido a mi constancia, y efectividad en el logro de objetivos diversos y a su vez ayudó a desarrollar mi tolerancia y paciencia en el logro de resultados, y ante situaciones adversas.
          p.has-text-right
            button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
      button.modal-close.delete.is-large.m-2(aria-label='close')
    h3.subtitle.is-2 Me caracteriza
    .columns
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Rapport y confianza
        p La comprensión, el rapport o generación de un contexto de confianza óptimo.
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Simpleza, motivación, seguimiento y contención
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Apertura y Vulnerabilidad
    .columns
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 PNL involucrando el cuerpo y espacios físicos
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Compromiso absoluto
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Escucha Activa
      .column
        i.fa.fa-comments.fa-3x.has-text-link
        h4 Empatía