section#testimonios.section.has-background-link
  .container(data-showup)
    h2.title.is-2.has-text-light Testimonios
    p.subtitle.is-3.has-text-info Se dice de mi ...
    .columns
      .column
        blockquote.box.is-flex.p-3
          i.fas.fa-quote-left.has-text-primary
          .p-2 Esta tía es la crema, la que más mola en lo suyo (después de Loren, claro)
          i.fas.fa-quote-right.has-text-primary
        div
          figure.image.is-48x48.columns.is-mobile
            img.column.is-rounded(src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoKCgoKCgsMDAsPEA4QDxYUExMUFiIYGhgaGCIzICUgICUgMy03LCksNy1RQDg4QFFeT0pPXnFlZXGPiI+7u/sBCgoKCgoKCwwMCw8QDhAPFhQTExQWIhgaGBoYIjMgJSAgJSAzLTcsKSw3LVFAODhAUV5PSk9ecWVlcY+Ij7u7+//CABEIABgAGAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAHBgX/2gAIAQEAAAAAVTVEhY5NNMBM/8QAFgEBAQEAAAAAAAAAAAAAAAAAAgAD/9oACAECEAAAAMwr/8QAFQEBAQAAAAAAAAAAAAAAAAAAAgP/2gAIAQMQAAAAZrL/xAAmEAACAgEEAQIHAAAAAAAAAAABAgMEEgAFERMhMYEGI0FRYXHh/9oACAEBAAE/AJ7EVWGexMwCRKzuR9lHnVD4ns3LgsWJPkSOEEQXxF768EDjgjW/7pKmw2o8wjuwT9q2qQkTarEAx7FVG4VhkRn9NbHFYgqyd9ntSR84uQQQpH51dmhu7TXs25SrI8o61GXt/dVb09TKFJZMT6BTxyCfTVLcH22OOtabEqo4BXEgY86//8QAGhEBAAIDAQAAAAAAAAAAAAAAAQAREBIhQf/aAAgBAgEBPwCz2J2Ua0g9x//EABkRAQEAAwEAAAAAAAAAAAAAAAECAxASIf/aAAgBAwEBPwBhl5RE1luqyNL6uv/Z')
            figcaption.column.is-narrow.subtitle.has-text-white Romeo
      .column
        blockquote.box.is-flex.p-3
          i.fas.fa-quote-left.has-text-primary
          .p-2 Esta tía es la crema, la que más mola en lo suyo (después de Loren, claro)
          i.fas.fa-quote-right.has-text-primary
        div
          figure.image.is-48x48.columns.is-mobile
            img.column.is-rounded(src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoKCgoKCgsMDAsPEA4QDxYUExMUFiIYGhgaGCIzICUgICUgMy03LCksNy1RQDg4QFFeT0pPXnFlZXGPiI+7u/sBCgoKCgoKCwwMCw8QDhAPFhQTExQWIhgaGBoYIjMgJSAgJSAzLTcsKSw3LVFAODhAUV5PSk9ecWVlcY+Ij7u7+//CABEIABgAGAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAHBgX/2gAIAQEAAAAAVTVEhY5NNMBM/8QAFgEBAQEAAAAAAAAAAAAAAAAAAgAD/9oACAECEAAAAMwr/8QAFQEBAQAAAAAAAAAAAAAAAAAAAgP/2gAIAQMQAAAAZrL/xAAmEAACAgEEAQIHAAAAAAAAAAABAgMEEgAFERMhMYEGI0FRYXHh/9oACAEBAAE/AJ7EVWGexMwCRKzuR9lHnVD4ns3LgsWJPkSOEEQXxF768EDjgjW/7pKmw2o8wjuwT9q2qQkTarEAx7FVG4VhkRn9NbHFYgqyd9ntSR84uQQQpH51dmhu7TXs25SrI8o61GXt/dVb09TKFJZMT6BTxyCfTVLcH22OOtabEqo4BXEgY86//8QAGhEBAAIDAQAAAAAAAAAAAAAAAQAREBIhQf/aAAgBAgEBPwCz2J2Ua0g9x//EABkRAQEAAwEAAAAAAAAAAAAAAAECAxASIf/aAAgBAwEBPwBhl5RE1luqyNL6uv/Z')
            figcaption.column.is-narrow.subtitle.has-text-white Romeo
      .column
        blockquote.box.is-flex.p-3
          i.fas.fa-quote-left.has-text-primary
          .p-2 Esta tía es la crema, la que más mola en lo suyo (después de Loren, claro)
          i.fas.fa-quote-right.has-text-primary
        div
          figure.image.is-48x48.columns.is-mobile
            img.column.is-rounded(src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoKCgoKCgsMDAsPEA4QDxYUExMUFiIYGhgaGCIzICUgICUgMy03LCksNy1RQDg4QFFeT0pPXnFlZXGPiI+7u/sBCgoKCgoKCwwMCw8QDhAPFhQTExQWIhgaGBoYIjMgJSAgJSAzLTcsKSw3LVFAODhAUV5PSk9ecWVlcY+Ij7u7+//CABEIABgAGAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAHBgX/2gAIAQEAAAAAVTVEhY5NNMBM/8QAFgEBAQEAAAAAAAAAAAAAAAAAAgAD/9oACAECEAAAAMwr/8QAFQEBAQAAAAAAAAAAAAAAAAAAAgP/2gAIAQMQAAAAZrL/xAAmEAACAgEEAQIHAAAAAAAAAAABAgMEEgAFERMhMYEGI0FRYXHh/9oACAEBAAE/AJ7EVWGexMwCRKzuR9lHnVD4ns3LgsWJPkSOEEQXxF768EDjgjW/7pKmw2o8wjuwT9q2qQkTarEAx7FVG4VhkRn9NbHFYgqyd9ntSR84uQQQpH51dmhu7TXs25SrI8o61GXt/dVb09TKFJZMT6BTxyCfTVLcH22OOtabEqo4BXEgY86//8QAGhEBAAIDAQAAAAAAAAAAAAAAAQAREBIhQf/aAAgBAgEBPwCz2J2Ua0g9x//EABkRAQEAAwEAAAAAAAAAAAAAAAECAxASIf/aAAgBAwEBPwBhl5RE1luqyNL6uv/Z')
            figcaption.column.is-narrow.subtitle.has-text-white Romeo