section#testimonios.section.has-background-link
  .container(data-showup)
    h2.title.is-2.has-text-light Testimonios
    p.subtitle.is-3.has-text-info Se dice de mi ...
    .columns.is-multiline
      .column.is-4
        blockquote.box.p-3
          .is-flex
            i.fas.fa-quote-left.has-text-primary
            .p-2
              p Florencia me enseñó muchas cosas desde que la conocí, el poder aprender de uno mismo fue una de ellas. Una enseñanza que me marcó bastante, y la sigo aplicando a mi vida cotidiana. Me ayudó a entender, en mi caso, que yo era provocadora...
            i.fas.fa-quote-right.has-text-primary
          p: button.button.is-link(role='button' aria-label='modal' data-target='lourdes') ✚ Más
        p.subtitle.has-text-white.has-text-left.mt-2.ml-5 Lourdes
        .modal#lourdes
          .modal-background
          .modal-content
            .box
              h3.subtitle.is-2 Lourdes
              .has-text-left: i.fas.fa-quote-left.has-text-primary
              .has-text-justified
                p Florencia me enseñó muchas cosas desde que la conocí, el poder aprender de uno mismo fue una de ellas. Una enseñanza que me marcó bastante, y la sigo aplicando a mi vida cotidiana. Me ayudó a entender, en mi caso, que yo era provocadora de ciertas cosas que se repiten en mi vida, sobre todo malos momentos. Momentos en los que yo terminaba perdiendo o salía muy lastimada, ya sea de alguna relación íntima o de familia. Tras varias charlas nos dimos cuenta, que migran problema era el no saber decir "NO" una palabra tan simple como esa, era la causante de desatar los malos momentos en mi vida y que a la larga se repitieran. Me llevó a hacer cosas que muchas veces no quería hacer por miedo a lastimar al otro. Empecé a implementar de a poco, con cosas sencillas o con personas con las que tenía la confianza suficiente para decírselo. Me di cuenta que el no querer hacer algo, por el solo hecho de no tener ganas o simplemente no estar de acuerdo, es sano, sano para uno mismo, para cuidarse de sí, para estar bien. Y eso desató otro asunto, y fue el hecho de hacerme cargo de lo que el otro sentía cuando yo decía “no", a lo que terminaba accediendo solo por no hacer sentir mal a la otra persona.
                p De la misma forma, empecé a implementarlo en algunas circunstancias, y de a poco comencé a sentirme mejor conmigo aprendiendo a conservar cerca a las personas que realmente respetan mi decisión, mi “no“.
              .has-text-right: i.fas.fa-quote-right.has-text-primary
              br
              p.has-text-right
                button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
          button.modal-close.is-large.m-2(aria-label='close')
      .column.is-4
        blockquote.box.p-3
          .is-flex
            i.fas.fa-quote-left.has-text-primary
            .p-2
              p Las sesiones de coaching me sirvieron desde la primera charla. Fue la primera vez que hice esto y me ayudo mucho a aclararme con lo que quiero hacer y lograr. Incluso, a medida que hablé con Flor, aparecieron nuevas herramientas y formas de hacer...
            i.fas.fa-quote-right.has-text-primary
          p: button.button.is-link(role='button' aria-label='modal' data-target='karenrivas27') ✚ Más
        p.subtitle.has-text-white.has-text-left.mt-2.ml-5 @karenrivas27
        .modal#karenrivas27
          .modal-background
          .modal-content
            .box
              h3.subtitle.is-2 @karenrivas27
              .has-text-left: i.fas.fa-quote-left.has-text-primary
              .has-text-justified
                p Las sesiones de coaching me sirvieron desde la primera charla. Fue la primera vez que hice esto y me ayudo mucho a aclararme con lo que quiero hacer y lograr. Incluso, a medida que hablé con Flor, aparecieron nuevas herramientas y formas de hacer.
                p Pude ver situaciones desde otro lugar y sacarle la "carga" que les estaba poniendo, para poder avanzar.
                p Me sentí muy bien con las conversaciones, (siempre fueron desde un lugar de respeto y algunas con risas), me ayudaron a entender cosas que nunca había hablado, y me sirvió para trabajar la confianza en mi y animarme a hacer.
                p Estoy muy contenta por lo que pude lograr y porque sé que el espacio sigue abierto, para seguir trabajando con su ayuda, cada vez que lo necesite.
              .has-text-right: i.fas.fa-quote-right.has-text-primary
              br
              p.has-text-right
                button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
          button.modal-close.is-large.m-2(aria-label='close')
      .column.is-4
        blockquote.box.p-3
          .is-flex
            i.fas.fa-quote-left.has-text-primary
            .p-2
              p Las sesiones de coaching me ayudan a entender la importancia que tiene el manejo de las emociones en mi accionar diario. Muchas veces, por juicios o miedos, reprimir los sentimientos. Ahora, al identificarlos...
            i.fas.fa-quote-right.has-text-primary
          p: button.button.is-link(role='button' aria-label='modal' data-target='micaela-g') ✚ Más
        p.subtitle.has-text-white.has-text-left.mt-2.ml-5 Micaela G.
        .modal#micaela-g
          .modal-background
          .modal-content
            .box
              h3.subtitle.is-2 Micaela G.
              .has-text-left: i.fas.fa-quote-left.has-text-primary
              .has-text-justified
                p Las sesiones de coaching me ayudan a entender la importancia que tiene el manejo de las emociones en mi accionar diario. Muchas veces, por juicios o miedos, reprimir los sentimientos. Ahora, al identificarlos, intento comprender que, lejos de ser una manifestación de vulnerabilidad, son una herramienta que me ayuda a manejar las situaciones cotidianas de una mejor manera.
                p Además, Florencia me ayuda a ver mis áreas de oportunidad y a ser fuente de lo que quiero para mi vida.
              .has-text-right: i.fas.fa-quote-right.has-text-primary
              br
              p.has-text-right
                button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
          button.modal-close.is-large.m-2(aria-label='close')
      .column.is-4.is-offset-2
        blockquote.box.p-3
          .is-flex
            i.fas.fa-quote-left.has-text-primary
            .p-2
              p En una de las tantas conversaciones que tuvimos, me ayudó a entender que no puedo controlar lo que le pasa a los demás. Que puedo hacer mi mejor intento para dirigirme de una buena manera, pero que a mi me corresponde hacerme cargo de lo que estoy experimentando...
            i.fas.fa-quote-right.has-text-primary
          p: button.button.is-link(role='button' aria-label='modal' data-target='veronica') ✚ Más
        p.subtitle.has-text-white.has-text-left.mt-2.ml-5 Verónica
        .modal#veronica
          .modal-background
          .modal-content
            .box
              h3.subtitle.is-2 Verónica
              .has-text-left: i.fas.fa-quote-left.has-text-primary
              .has-text-justified
                p En una de las tantas conversaciones que tuvimos, me ayudó a entender que no puedo controlar lo que le pasa a los demás. Que puedo hacer mi mejor intento para dirigirme de una buena manera, pero que a mi me corresponde hacerme cargo de lo que estoy experimentando.
                p Otra, hoy puedo hacerme consciente de lo que me pasa, ponerle nombre a los sentimientos, siendo respetuosa y paciente conmigo.
              .has-text-right: i.fas.fa-quote-right.has-text-primary
              br
              p.has-text-right
                button.button.is-primary.is-close(aria-label='close') ✖ Cerrar
          button.modal-close.is-large.m-2(aria-label='close')
      .column.is-4
        blockquote.box.p-3
          .is-flex
            i.fas.fa-quote-left.has-text-primary
            p.p-2 Mi experiencia con el coaching fue de lo más positiva, me encontraba bloqueada por pensamientos negativos que me imposibilitaba avanzar en cuestiones prácticas esenciales para cumplir mi objetivo. Poder tomar el control de esos pensamientos me ayudó a superar esa traba y seguir adelante.
            i.fas.fa-quote-right.has-text-primary
        p.subtitle.has-text-white.has-text-left.mt-2.ml-5 Carolina B.