// Fonts
@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron-light.eot');
  src: url('/fonts/aileron-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/aileron-light.woff2') format('woff2'),
       url('/fonts/aileron-light.woff') format('woff'),
       url('/fonts/aileron-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron-bold.eot');
  src: url('/fonts/aileron-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/aileron-bold.woff2') format('woff2'),
       url('/fonts/aileron-bold.woff') format('woff'),
       url('/fonts/aileron-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playlist Script';
  src: url('/fonts/playlist-script.eot');
  src: url('/fonts/playlist-script.eot?#iefix') format('embedded-opentype'),
       url('/fonts/playlist-script.woff2') format('woff2'),
       url('/fonts/playlist-script.woff') format('woff'),
       url('/fonts/playlist-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arapey';
  src: url('/fonts/arapey-regular.eot');
  src: url('/fonts/arapey-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arapey-regular.woff2') format('woff2'),
       url('/fonts/arapey-regular.woff') format('woff'),
       url('/fonts/arapey-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Smooth scroll
html {
  scroll-behavior: smooth;
}

// Container
.container {
  @extend .is-max-desktop;
}

// Buttons and Tags roundeds
.button, .tag {
  @extend .is-rounded;
}

// Reverse rows movile only
@media(max-width: 768px) {
  .reverse-rows-mobile-only {
    flex-direction: row-reverse;
  }
}

// Modal card max width
.modal-content, .modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
}
.modal-close {
  background-color: rgba(29, 59, 47, 0.2);
  border-radius: 50%;
}

// Modal background
// .modal-content .box {
//   background-color: $light;
//   background-image: url(/img/fondo-modal-top.svg), url(/img/fondo-modal-bottom.svg);
//   background-repeat: no-repeat, no-repeat;
//   background-position: top, bottom;
// }

// Modal transition
.modal {
  display: flex;
  height: 0;
  opacity: 0;
  transition: opacity .3s linear, height .3s step-end;
  .modal-content{
    transform: translateY(50vh);
    transition: transform .3s;
  }
  &.is-active {
      height: 100%;
      opacity: 1;
      transition: opacity .3s linear, height 0s step-start;
      .modal-content{
        transform: translateY(0);
      }
  }
}

// Headers and titles
h1, h2, h3, h4, h5, h6, .title {
  font-family: $family-secondary;
  font-weight: normal !important;
}
.subtitle {
  font-family: $family-monospace;
  font-weight: normal !important;
}
.title {
  color: $content-heading-color
}

// Menú
.navbar {
  transition: all .5s, font-size 0s;
  .navbar-end {
    transition: width .5s;
    justify-content: space-between;
  }
  .navbar-end {
    width: 100%;
  }
  .navbar-brand .navbar-item {
    white-space: nowrap;
    margin-bottom: -.25rem;
  }
  @media screen and (min-width: 1024px){
    .navbar-brand .navbar-item {
      width: 22rem;
      overflow: hidden;
    }
  }
  &.is-transparent {
    background-color: transparent;
    .navbar-brand .navbar-item {
      opacity: 0;
      width: 0;
      padding: 0;
      .subtitle {
        width: 0;
      }
    }
  }
  .navbar-burger {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .navbar-item {
    transition: all .5s;
  }
  @media screen and (max-width: 1023px) {
    .navbar-menu {
      display: block;
      height: 0vh;
      padding: 0;
      opacity: 0;
      transition: all .5s;
    }
    .navbar-menu.is-active {
      height: 100vh;
      padding: 0.5rem 0;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1024px){
  .py-4-desktop {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

// Header
header.hero {
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  background-blend-mode: screen;
}
.hero-body {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
}
header {
  overflow: hidden;
  svg {
    max-width: 100%;
    height: auto;
    #brocha { animation: slide-in-blurred-right 0.6s .8s both; }
    #escucha { animation: slide-in-left 0.5s 1.3s both; }
    #punto { animation: slide-in-blurred-right 0.5s 1.3s both; }
    #te { transform-origin: 70% 50%; animation: rotate-in-ver 0.5s 2s both; }
    #sub { animation: slide-in-bottom 0.5s 2.5s both; }
  }
  .subtitle {
    #loquedas{ animation: slide-in-blurred-left 0.6s 3.3s both; }
    #telodas{ animation: slide-in-blurred-right 0.6s 3.9s both; }
  }
  .tag.is-info { animation: bounce-in-left 1.1s 4.5s both; }
  .tag.is-primary { animation: bounce-in-right 1.1s 4.5s both; }
  .button { animation: slide-in-bottom 0.5s 5.6s both; }
}

// Correct address
address {
  font-style: normal;
}

// Sobre mi
#sobre {
  @media screen and (min-width: 769px){
    #flor,
    #flor-espacio {
      order: 2;
    }
  }
  #flor img {
    width: auto;
    max-width: 100%;
  }
  #caracteriza + .columns .fa {
    background-color: $link;
    border-radius: 50%;
    padding: 1.5rem;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    height: .25rem;
    margin: -1rem auto 1.5rem;
    width: 6rem;
    border-radius: 1rem;
  }
}

// Reviews / Testimonios
#testimonios {
  .fa-quote-right {
    align-self: flex-end;
  }
  blockquote {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: .75em transparent solid;
      border-top-color: $white;
      border-bottom: 0;
      position: absolute;
      bottom: -.6em;
      left: 2.25em;
    }
    div {
      width: 100%;
    }
  }
  figcaption {
    font-style: normal;
  }
}

// Contact/o
#contacto {
  .container.section {
    padding-left: .75rem;
    padding-right: .75rem;
  }
  .button {
    max-width: 100%;
  }
}

// Curve
.curva {
  margin-bottom: -.5rem;
}
.curva-servicios {
  position: absolute;
  left: 0;
  transform: translateY(calc(-100% + 2px));
}